<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Manage Customers</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-outline-primary" (click)="createNewCustomer()">New Customer</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Bidth Date Name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{customer.firstName}}</td>
          <td>{{customer.lastName}}</td>
          <td>{{customer.birthDate | date}}</td>
          <td>
            <button class="btn btn-primary" (click)="editCustomer(customer)" >Edit</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-customer-form [(display)]="displayForm" [customer]="selectedCustomer" (customerUpdated)="onCustomerUpdate($event)"></app-customer-form>
